<ion-view view-title="Blog">
  <ion-content class="padding">
    <div ng-repeat="post in BlogPosts" class="list card">
      <div class="item item-divider" ng-bind-html="post.title"></div>
      <div class="item item-body">
        <span><strong>Posted:</strong> <span ng-bind-html="post.date | date:'MMM dd, yyyy HH:mm a'"></span></span>
        {{post.custom_fields.geo_latitude}}, {{post.custom_fields.geo_longitude}}
          <div class="item item-image">
            <div ng-bind-html="post.content"></div>
          </div>
        <a class="item item-avatar" href="#">
          <img src="img/ionic.png">
          <h2>{{post.author.first_name}} {{post.author.last_name}}</h2>
        </a>
      </div>
    </div>
  </ion-content>

</ion-view>
