<ion-view view-title="Recent Posts" ng-controller="blogCtrl as vm">
<ion-content class="has-header">
  <ion-refresher pulling-icon='ion-chevron-down' pulling-text="Pull to get that dope content..." on-refresh="vm.loadRecentPosts(true)"></ion-refresher>
    <ion-list can-swipe="true">
    <ion-item ng-repeat="post in vm.BlogPosts" href="#/app/blog/{{post.id}}"
              class="post-item item item-thumbnail-right item-avatar-right item-text-wrap">
      <img ng-src="{{post.attachments[0].url}}">
      <h2><div ng-bind-html="post.title"></div></h2>
      <p style="font-style:italic;">{{post.date | date:"medium"}}</p>
      <ion-option-button class="button-positive"
                         ng-click="share(item)">
        Share
      </ion-option-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
