/* Empty. Add your own CSS if you like */
body{
  font-family:"Avenir Next" !important;
}

.item-image{
  text-align: left;
}

.item-image div p img {
  height: auto;
}


.mapContainer,
map {
  display: block;
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}
.blogTitle{
  font-size:2em;
  padding:10px;
  line-height:50px;
  font-family:"Avenir Next" !important;
}
.gm-style-iw {
  width: 270px !important;
  height:50px;
  top: 15px !important;
  left: 30px !important;
  background-color: white;
  padding:0;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);

  border-radius: 12px 12px 12px 12px;
  opacity: .8;
}

#iw-container .iw-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
  /*background-color: #48b5e9;*/
  color: black;
  margin: 0;
  width:100%;
  border-radius: 12px 12px 12px 12px; /* In accordance with the rounding of the default infowindow corners. */
}

.post-item.ng-enter {
  -webkit-animation: fadeInLeft .5s;
  animation: fadeInLeft .5s;
}
.post-item.ng-enter-stagger {
  -webkit-animation-delay:100ms;
  animation-delay:100ms;
  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}
